html {
  background-color: #F2AF5C;
  margin-bottom: 1rem;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #A6662E;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}

/* SKIP LINK STYLE */

.skip-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color: black;
  color: white;
  padding: 0.5em 1em;
  font-weight: bold;
}

.skip-links a:focus {
  top: 0;
}

img {
  width: 100%;
}

nav {}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

nav ul li {
  flex: 1;
  padding: 0px 10px;
  color: white;
}

nav ul li:hover {
  color: black;
}

nav ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1.25rem;
}

main p {
  color: white;
}

article ul {
  color: white;

}

section h1{
  font-size: 2rem;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

label {
  color: white;
  padding-bottom: 3rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: horizontal;
}

form button {
  background: none;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 1rem 4rem;
  text-transform: uppercase;
  background-color: #D9C0A3;
  font-size: medium;

}

form button:hover {
  background: none;
  border: 2px solid black;
  border-radius: .5rem;
  padding: 1rem 4rem;
  text-transform: uppercase;
  background-color: green;
  color: white;
  font-size: large;
}

footer {
  padding: 2rem 0;
  color: white;
}


/* PUTS OWNER INFORMATION IN 2 COLUMNS */
article {
  display: flex;
  justify-content: space-evenly;
}
